
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Materialize
@import "node_modules/materialize-css/sass/materialize";

.subtitle {
  color: #777;
}

.spreadsheet {
  // align shit properly
  td {
    text-align: center;
    width: 150px;
  }
  .question {
    text-align: left;
  }

  // background colours for fields
  .agree {
    @extend .light-green, .lighten-3;
  }
  .neither {
    @extend .amber, .lighten-3;
  }
  .disagree {
    @extend .red, .lighten-3;
  }
}


.results {
  position: relative;

  .first {
    font-weight: bold;
  }

  .graph {
    padding: 5px;
    margin: 5px;
    display: flex;
    align-items: baseline;

    .name {
      overflow: hidden;
      flex-grow: 2;
    }

    .percentage {
      float: right;
      align-self: flex-end;
    }
  }
  .bar {
    @extend .orange
  }
}

.details {
  display: none;
}
